body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/bg.png);
  /* border: 2px red solid; */
}

.side-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);

  /* border: 2px red solid; */
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);

  /* border: 2px solid blue; */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);

  /* border: 2px solid yellow; */
}

.sort-repos-button-container {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);

  /* border: 2px solid purple; */
}

/* specific stylings */

.search-icon {
  height: 40px;
}

.user-avatar {
  border-radius: 50%;
}
